@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800&family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Libre+Franklin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Libre+Franklin&family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Libre+Franklin&family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&family=Libre+Franklin&family=Rancho&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

header button {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  color: #000;
  font-family: "Libre Franklin";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-con {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.hero-con h1 {
  color: #000;
  font-family: "Josefin Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.hero-con p {
  color: #000;
  font-family: "Josefin Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero-con .hero-left,
.hero-con right {
  width: 50%;
}
.hero-con .left {
  margin-top: 126px;
  display: flex;
  gap: 95px;
}
.hero-con button {
  background-color: #f4a261;
  align-items: center;
  padding: 10px 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px #f4a261;
}
.hero-con .hero-icon {
  margin-top: 100px;
  display: flex;
  gap: 60px;
}
.hero-con .her-icon {
  border-left: 4px solid black;
}

.hero-right {
  position: relative;
  width: 50%;
}
.hero-right img {
  width: 100%;
}

.con_4b {
  text-align: center;
  margin-bottom: 72px;
  margin-top: 85px;
}
.con_4b h1 {
  color: #000;
  font-family: "Rancho";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  text-align: center;
}
.con_4b p {
  color: #e76f51;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.con_4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 87px;
}
.con_4 .bor {
  border-left: 3px solid rgb(103, 98, 98);
  padding-left: 0;
}
.con_4 p {
  color: #e76f51;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con_4 .p {
  color: #333;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con_4 h1 {
  color: #000;
  font-family: "Josefin Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con_4 button {
  padding: 10px 40px;
  border-radius: 15px;
  background: #2a9d8f;
}

.con_5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 87px;
}
.con_5 .bor {
  border-left: 3px solid rgb(103, 98, 98);
  padding-left: 0;
}
.con_5 p {
  color: #e76f51;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con_5 .p {
  color: #333;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con_5 h1 {
  color: #000;
  font-family: "Josefin Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con_5 button {
  padding: 10px 40px;
  border-radius: 15px;
  background: #2a9d8f;
}

.con_6 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}
.con_6 .h1 {
  color: #333;
  font-family: "Josefin Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.con_8 {
  display: flex;
  gap: 30px;
  margin-top: 65px;
}
.con_8 h1 {
  color: #333;
  font-family: "Libre Franklin";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.con_8 p {
  color: #333;
  font-family: "Libre Franklin";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.con_9 {
  padding: 70px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-image: url(assets/pexels-ella-olsson-1640770\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 102px;
}
.con_9 i {
  font-size: 100px;
  color: #fff;
  margin-bottom: 60px;
}
.con_9 p {
  z-index: 777;
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 60px;
}
.con_9 .icon1 {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.con_9 .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.con_9 .circle1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
}

.con_10h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.con_10h .con_10 {
  text-align: center;
}
.con_10h .con_10 h1 {
  color: #333;
  font-family: "Libre Franklin";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.con_10h .con_10 p {
  color: #333;
  font-family: "Libre Franklin";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.con_10h .con_10 .con_10x {
  position: relative;
  bottom: 170px;
  left: 40px;
  width: 270px;
  height: 130px;
  background-color: #fff;
}
.con_10h .con_10 .insta {
  align-items: center;
  text-align: center;
  display: flex;
  color: blue;
  gap: 30px;
  padding-left: 80px;
}

.con_11 {
  position: relative;
  background-image: url(assets/rvf.png);
  width: 100%;
  height: 735px;
  text-align: center;
  margin-bottom: 53px;
}
.con_11 .absolute {
  position: absolute;
  width: 430px;
  height: 800px;
  border-radius: 5px;
  background: rgba(27, 26, 26, 0.8);
  right: 100px;
  bottom: -100px;
}
.con_11 .inputcon {
  width: 350px;
  height: 42.838px;
  flex-shrink: 0;
  margin-top: 20px;
}
.con_11 .inputcon .mini {
  margin-left: 30px;
  width: 130px;
  height: 39.625px;
  flex-shrink: 0;
  margin-bottom: 20px;
}
.con_11 .mensage {
  width: 350px;
  height: 144.578px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.3px solid rgba(0, 0, 0, 0.75);
  background: #fff;
}

.con_12 {
  background-color: #000;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.con_12m {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
}
.con_12m .con_12x {
  justify-content: space-between;
  margin-bottom: 50px;
}
.con_12m p {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 30px;
}
.con_12m .h1 {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 62px;
  margin-top: 100px;
}
.con_12m .h1 p {
  font-size: 50px;
}
.con_12m .con_12f ul {
  flex-direction: column !important;
  padding-top: 10px;
}
.con_12m .con_12f ul li {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #fff;
  margin-bottom: 30px;
  font-family: "Libre Franklin";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.con_12m .con_12f .p {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 30px;
}
.con_12m .con_12f p {
  color: #e76f51;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con_12m .con_12f i {
  color: #fff;
}

@media (max-width: 400px) {
  header li {
    display: none;
  }
  header button {
    display: block;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
  }
}
@media (max-width: 400px) {
  .hero_con {
    flex-direction: column;
  }
}/*# sourceMappingURL=exam.css.map */